body{
    font-family: 'Open Sans', sans-serif, arial, verdana;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0px;
    margin-bottom: -300px !important;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
    line-height: 1.1;
    color: #79589f;
}
h3{
    font-size: 24px;
}

.pageWrapper{
    min-height: 100%;
}
.coloredBg{
    background-image: linear-gradient(top bottom,#654a86,#534292);
    background-color: #534292;
    height: 100%;
    margin-bottom:-100px; 
}
.container{
    position: relative;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container .content, .container .content>a{
    margin-bottom: 80px;
    color: rgba(255,255,255,0.8);

}
.container .loginPanel{
    color: #3f3f44;
}
.loginPanel{
    max-width: 430px;
    margin: 50px auto 20px;
    border-radius: 5px;
    background-color: #fff;
    padding-top: 20px;
}
.loginPanel h3 {
    margin: 0px 0 28;
    padding-top:4px;
}
.loginPanel form {
    padding: 40px;
}
form .form-group {
    position: relative;
    margin-bottom: 20px;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
    height: 44px;
    padding-left: 34px;
}
form .fieldIcon.iconUsername {
    background: url(../images/icon-user.png);
    background-repeat: repeat;
}
form .fieldIcon.iconPass {
    background: url(../images/icon-password.png);
    background-repeat: repeat;
}
form .fieldIcon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 12px;
    width: 18px;
    height: 18px;
}
form .fieldIcon::after {
    content: '';
    position: absolute;
    right: -11px;
    top: -10px;
    bottom: -10px;
    width: 1px;
    opacity: .5;
}
.formField {
    display: block;
    width: 88%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
}
#loginField{width: 60% !important;}
.buttonPupple{
    color: #fff;
    background-color: #79589f;
}
.button {
    font-weight: normal;
    border-radius: 5px;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding: 10px 16px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
    width: 100%;
}
.loginPanel a.panelFooter {
    text-decoration: none;
}
.loginPanel .panelFooter {
    padding: 20px;
    display: block;
    font-size: 17px;
    color: #878797;
    font-weight: 100;
}
.panelFooter {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.loginPanel a.panelFooter>span {
    color: #79589f;
    text-decoration: underline;
}
/******************* Register styles end here ******************************************/

/************ Main styles **************/
#header{
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    height: 55px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.navigation{
    width: 100%;
    background: #FFFFFF;
    margin: 0px;
    top: 0px;
}
.main_container {
    margin-right: auto;
    margin-left: auto;
}
.navigationbar {
    margin-bottom: 0px;
    overflow: visible;
}
.navigationbar_inner {
    min-height: 40px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ffffff;
}
.navigationbar .logo{
    display: block;
    float: left;
    padding: 9px 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
    color: #79589f; 
    text-decoration: none;
}
.navigationbar .list_nav {
    position: relative;
    left: 0;
    display: block;
    float: right;
    margin: 0 10px 0 0;
    list-style: none;
}
.navigationbar .list_nav > li{
    float: left;
}
.navigationbar .list_nav > li{
    border-left: 1px solid #E4E8EA;
}
.navigationbar .list_nav > li > a {
    float: none;
    padding: 17px 15px;
    color: #74838B;
    text-decoration: none;
    font-family: 'DroidSansRegular';
    transition: all 250ms ease-out 0s;
    display: block;
}
.navigationbar .list_nav  > .active > a{
    text-decoration: none;
    background-color: #5CA2DF;
}
.navigationbar .list_nav > li > a:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #5CA2DF;
}
.content {
    font-size: 13px;
    top: 0px;
    width: auto;
}
.holder{
    margin-top:30px;
    margin-left:30px;
    width: 100%;
    float: left;
    font-size: 17px;
}
.button_area {
    margin-bottom: 25px;
    height: 40px;
}
a.button, button {
    background-color: #79589f;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    min-width: 80px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
.button_dash {
    background-color: #79589f;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 0 20px;
    text-decoration: none;
    width:90px
}
.main_table{
    width:80%;
    height: 100%;
}
.table_row{
    border-top: 1px solid #ddd;
    line-height: 1.42857143;
    height: 80px;
}
.table_cell{
    padding: 8px;
    padding:8px 60px 8px 0px;
    line-height: 1.42857143;
    vertical-align: top;
    float: left;

}
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 20;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.01);
}
.modal_content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal_header {
    padding: 2px 16px;
    background-color: #79589f;;
    color: white;
}
.modal_header h2{
    color: #FFFFFF;
}
.modal_body {padding: 2px 16px;}
.modal_body input[type="text"], .modal_body .button{
    font-size: 20px;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width:50%;
    margin-left:20%;
    margin-right:25%;
}
.user_panel{
    border-color: #ddd;
}
.panel_body {
    padding: 24px 4% 5% 7%;
}
.profile_pic{
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 3%;
}
.panel_body .lower_content{
    margin-left: 10px ;
    margin-right: 15%;
    margin-top: 3%;
    text-align: center
}
