body{
    font-family: 'Open Sans', sans-serif, arial, verdana;
    font-size: 14px;
    line-height: 1.42857;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
    line-height: 1.1;
    color: #79589f;
}
h3{
    font-size: 24px;
}
.coloredBg{
    background-image: linear-gradient(top bottom,#654a86,#534292);
    background-color: #534292;
    height: 100%;
}
.container{
    position: relative;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container .content, .container .content>a{
    margin-bottom: 80px;
    color: rgba(255,255,255,0.8);

}