body{
    font-family: 'Open Sans', sans-serif, arial, verdana;
    font-size: 14px;
    line-height: 1.42857;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
    line-height: 1.1;
    color: #79589f;
}
h3{
    font-size: 24px;
}
.coloredBg{
    background-image: linear-gradient(top bottom,#654a86,#534292);
    background-color: #534292;
    height: 100%;
}
.container{
    position: relative;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container .content, .container .content>a{
    margin-bottom: 80px;
    color: rgba(255,255,255,0.8);

}
.container .loginPanel{
    color: #3f3f44;
}
.loginPanel{
    max-width: 430px;
    margin: 50px auto 20px;
    border-radius: 5px;
    background-color: #fff;
}
.loginPanel h3 {
    margin: 0px 0 28;
    padding-top:4px;
}
.loginPanel form {
    padding: 40px;
}
form .form-group {
    position: relative;
    margin-bottom: 20px;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
    height: 44px;
    padding-left: 34px;
}
form .fieldIcon.iconUsername {
    background: url(../images/icon-user.png);
    background-repeat: repeat;
}
form .fieldIcon.iconPass {
    background: url(../images/icon-password.png);
    background-repeat: repeat;
}
form .fieldIcon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 12px;
    width: 18px;
    height: 18px;
}
form .fieldIcon::after {
    content: '';
    position: absolute;
    right: -11px;
    top: -10px;
    bottom: -10px;
    width: 1px;
    opacity: .5;
}
.formField {
    display: block;
    width: 88%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
}
#loginField{width: 60% !important;}