ody{
    font-family: 'Open Sans', sans-serif, arial, verdana;
    font-size: 14px;
    line-height: 1.42857;

}
h1,h2,h3,h4,h5,h6{
    font-weight: 200;
    line-height: 1.1;
    color: #79589f;
}
h3{
    font-size: 24px;
}
li {
    line-height: 20px;
}
.pageWrapper{
    min-height: 100%;
}
.coloredBg{
    background-image: linear-gradient(top bottom,#654a86,#534292);
    background-color: #534292;
    height: 100%;
}
.container{
    position: relative;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.container .content, .container .content>a{
    margin-bottom: 80px;
    color: rgba(255,255,255,0.8);

}
.container .loginPanel{
    color: #3f3f44;
}
/*************************************** LOGIN STYLES START HERE ********************/
.loginPanel{
    max-width: 430px;
    margin: 50px auto 20px;
    border-radius: 5px;
    background-color: #fff;
}
.loginPanel h3 {
    margin: 0px 0 28;
    padding-top:4px;
}
.loginPanel form {
    padding: 40px;
}
form .form-group {
    position: relative;
    margin-bottom: 20px;
}
form input[type="text"], form input[type="email"], form input[type="password"] {
    height: 44px;
    padding-left: 34px;
}
form .fieldIcon.iconUsername {
    background: url(../images/icon-user.png);
    background-repeat: repeat;
}
form .fieldIcon.iconPass {
    background: url(../images/icon-password.png);
    background-repeat: repeat;
}
form .fieldIcon {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 12px;
    width: 18px;
    height: 18px;
}
form .fieldIcon::after {
    content: '';
    position: absolute;
    right: -11px;
    top: -10px;
    bottom: -10px;
    width: 1px;
    opacity: .5;
}
.formField {
    display: block;
    width: 88%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
}
#loginField{width: 60% !important;}
#regformField{
    padding: 6px 15px;
}
.formField:focus{
    border: solid 1px #654a86 !important;
    box-shadow: 0 0 7px #654a86 !important;
}
.button{
    font-weight: normal;
    border-radius: 5px;
    border: none;
    padding-left: 18px;
    padding-right: 18px;
    padding: 10px 16px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
    width: 100%
}
#regbtn{
    width:88% !important;
    margin: 0 0 0 15px;
}
.buttonPupple{
    color: #fff;
    background-color: #79589f;
}
.errorMsg {
    background-color: #d64242;
    border-color: #d64242;
    color: #FFF;
}
.error {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.loginPanel a.panelFooter {
    text-decoration: none;
}
.loginPanel .panelFooter {
    padding: 20px;
    display: block;
    font-size: 17px;
    color: #878797;
    font-weight: 100;
}
.panelFooter {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.loginPanel a.panelFooter>span {
    color: #79589f;
    text-decoration: underline;
}
/******************************************  LOGIN STYLES END HERE ******************/

/************************** Reigster styles **************************************/
.register{
    max-width: 800px;
    margin: 0 auto;

}
.registerHeader{
    padding: 60px 0 35px;
    position: relative;
    color:#ffff;
}
.registerHeader h2{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    color:#ffffff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.registerContent{
    height: auto;
    padding: 10px;
    position: absolute;
    margin-right: 10px;
    border-radius: 5px;
    text-align: left !important;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.25), 0 3px 20px 0 rgba(0,0,0,0.15);
    background-color: #F9F9FB;
    background-image: url(../images/registerbg.png);
    background-size: 950px 160px;
    background-repeat: no-repeat;
    background-position: top left;
}
.registerContent .registerPanel{
    padding: 40px 73px 20px 40px;
}
.registerContent .registerPanel, .registerContent .regSidebar {
    float: left;
}
.smallNotes h3 {
    line-height: 1.4;
    margin-bottom: 15px;
}
.smallNotes p:not(full-width){
    max-width: 340px;
}
p{
    margin: 0px;
    margin-bottom: 30px;
}
.registerForm{
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    margin-right: -30px;
    margin-top: -5px;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(89,105,128,0.1), 0 3px 20px 0 rgba(89,105,128,0.3), 0 1px 2px 0 rgba(0,0,0,0.05);
}
.registerForm input[type="text"],
 .registerForm input[type="email"], .registerForm input[type="password"]{
     height: 34px !important;
 }
.regfieldHolder{
    margin-left: 8px;
    margin-right: 16px;
    padding-bottom: 10px;
}