<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Diary</title>
    <link rel="stylesheet" href="https://kakaemma.github.io/MyDairy/UI/css/app.css" type="text/css" />
</head>
<body>

 
    <div class="container-fluid">
        <div class="container" style="margin-left: 20%; margin-right: 15%; margin-top: 5%">
            <div class="col-6">
                <h2>Welcome to MyDiary API</h2>
                <div class="panel pupple-panel">
                    <div class="panel-heading">
                        <h2 class="title">MyDiary Usage and Instructions</h2>
                    </div>
                    <div class="panel-body">
                            Please refer to <a href="https://mydiary3.docs.apiary.io"> this</a> Documentation
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>